<div class="clearfix"></div>
<div data-ng-controller="PeriodController" class="periodcontent show0" style="display: block;" ng-hide="$root.hiddenPeriod">
  <div class="content">
	<div id="period-form" class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
	    <div class="label-form-1">
	    	<strong>Period : </strong>
	    </div>

	    <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="$root.dateFrom" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
          </span>
        </p>
        To
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="$root.dateTo" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar"></i></button>
          </span>
        </p>

	  </div>
  </div>
</div>
<!-- Usage as a class -->
<div class="clearfix"></div>
