<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav sidebar="" sidebar-anyclick-close="" ng-class="{'show-scrollbar': app.layout.asideScrollbar}" class="sidebar">
        <!-- START sidebar nav-->
        <ul class="nav">

            <li ui-sref-active="active"
                ng-repeat="item in menu.items | orderBy: 'position'"
                data-ng-if="item.shouldRender(authentication.user);"
                ng-switch="item.type"
                ng-click="toggleCollapse($index, true, $event)">

                <!-- Dropdown -->
                <span ng-if="item.heading">{{(item.translate | translate) || item.title}}</span>
                <a ng-switch-when="dropdown" title="{{item.title}}" ng-init="addCollapse($index, item)">
                    <div ng-if="item.alert" ng-class="item.label || 'label label-success'" class="pull-right">{{item.alert}}</div>
                    <em ng-hide="inSubmenu" class="{{item.iconClass}}"></em>
                    <span>{{(item.translate | translate) || item.title}}</span>
                </a>
                <ul ng-switch-when="dropdown" class="nav sidebar-subnav collapse" uib-collapse="isCollapse($index)">
                    <li class="sidebar-subnav-header">{{(item.translate | translate) || item.title}}</li>
                    <li ng-repeat="subitem in item.items | orderBy: 'position'"
                        data-ng-if="subitem.shouldRender(authentication.user);"
                        ng-class="{'active' : $state.is(subitem.state) || $state.current.parent === subitem.state}">
                        <a ui-sref="{{subitem.state}}" class="menu-child">
                            <div ng-if="subitem.alert" ng-class="subitem.label || 'label label-success'" class="pull-right">{{subitem.alert}}</div>
                            <em ng-hide="inSubmenu" class="{{subitem.iconClass}}"></em>
                            <span>{{(subitem.translate | translate) || subitem.title}}</span>
                        </a>
                    </li>
                </ul>
                <!-- Single Item -->
                <a ng-switch-default ui-sref="{{item.state}}" title="{{item.title}}">
                    <div ng-if="item.alert" ng-class="item.label || 'label label-success'" class="pull-right">{{item.alert}}</div>
                    <em ng-hide="inSubmenu" class="{{item.iconClass}}"></em>
                    <span>{{(item.translate | translate) || item.title}}</span>
                </a>
            </li>

        </ul>
        <!-- END sidebar nav-->

        <img class="img-responsive logo-client" src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" onerror="this.onerror=null;this.src='http://admin.antara-insight.id/asset/images/agent/digivla.png';" alt="{{authentication.user.user_detail.usr_comp_name}}"/>
    </nav>
</div>
<!-- END Sidebar (left)-->
