<div class="container-md">
   <div class="row">
      <div class="col-md-3">
         <div class="panel b">
            <div class="panel-heading bg-gray-lighter text-bold">Personal Settings</div>
            <div ng-init="settingActive = 1" class="list-group">
               <a href="" ng-click="settingActive=1" ng-class="{'active': (settingActive == 1)}" class="list-group-item">Group Media</a>
               <a href="" ng-click="settingActive=2" ng-class="{'active': (settingActive == 2)}" class="list-group-item">Group Category</a>
               <a href="" ng-click="settingActive=3" ng-class="{'active': (settingActive == 3)}" class="list-group-item">Sub Category</a>
            </div>
         </div>
      </div>
      <div class="col-md-9">

         <div ng-controller="MediaGroupController as groupMedia" ng-show="settingActive == 1" ng-init="groupMedia.initSetData();">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Group Media</div>
               <div class="panel-body">
                  <p>
                     <span>Add Media Group</span>
                  </p>
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="input-group">
                           <input type="text" ng-model="groupMedia.newMediaSet" class="form-control">
                           <span class="input-group-btn">
                              <button ng-click="groupMedia.addNewMediaSet();" class="btn btn-primary">Save</button>
                           </span>
                        </div><!-- /input-group -->
                     </div>

                     <div class="col-lg-8">
                        <table class="table table-striped">
                           <thead>
                              <tr>
                                 <th>Group Name</th>
                                 <th>Detail</th>
                                 <th>Edit</th>
                                 <th>Delete</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="item in groupMedia.dataSet">
                                 <td>{{item.media_set_name}}</td>
                                 <td><a href="#detail" ng-click="groupMedia.getDetail(item);" class="fancybox icon-list"></a></td>
                                 <td><a href="#edit_medset" class="fancybox icon-pencil" data-ng-click="groupMedia.open({selectedArticleData: item, type: 'ugm', updateValue: item.media_set_name})"></a></td>
                                 <td><a href="#warning" class="icon-trash" data-ng-click="groupMedia.open({selectedArticleData: item, type: 'dgm', updateValue: item.media_set_name})"></a></td>
                              </tr>

                           </tbody>
                        </table>
                     </div>

                  </div>

               </div>
               <div class="panel-body bb">
                  <div class="main-5-2" ng-show="groupMedia.showDetail">
                     <div class="f-sub-title2">Edit Media Set "{{groupMedia.mediaSetName}}"</div>
                     <div class="space-1"></div>

                     <div ng-if="groupMedia.dataDetailError">
                        <p>No media has selected for this user. Please contact Administrator for further verification.</p>
                     </div>

                     <div ng-if="!groupMedia.dataDetailError">
                        <br>
                        <button ng-click="groupMedia.selectAll();" type="button" class="btn btn-default">Mark All</button>
                        <button ng-click="groupMedia.updateMediaSetList();" type="button" class="btn btn-warning">Save</button>
                        <button ng-click="groupMedia.clearAll();" type="button" class="btn btn-info">Cancel</button>
                        <div class="clear"></div>
                        <br><br>

                        <uib-accordion close-others="oneAtATime">
                           <div uib-accordion-group class="panel-default" heading="{{item.media_type}}" ng-repeat="item in groupMedia.dataDetail">
                              <div class="categorycontent">
                                 <div id="ms1" class="customscroll" style="height:300px;">
                                    <ul class="acc-link">
                                       <li ng-repeat="media in item.media_list">
                                          <a href="javascript:;" for="ch3">
                                             <input style="float:left;margin-right:15px" type="checkbox" ng-model="media.chosen" ng-checked="media.chosen" id="med_all_{{media.media_id}}" class="clisetdach">
                                          <label for="ch3">{{media.media_name}}</label>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <!-- <div uib-accordion-group ng-repeat="item in groupMedia.dataDetail">

                              <div class="media">
                                 <div accordion-heading class="acc-title">{{item.media_type}}</div>
                              </div>
                              <div class="categorycontent">
                                 <div id="ms1" class="customscroll" style="height:300px;">
                                    <ul class="acc-link">
                                       <li ng-repeat="media in item.media_list">
                                          <a href="javascript:;" for="ch3">
                                             <input style="float:left;margin-right:15px" type="checkbox" ng-model="media.chosen" ng-checked="media.chosen" id="med_all_{{media.media_id}}" class="clisetdach">
                                          <label for="ch3">{{media.media_name}}</label>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>

                           </div> -->
                        </uib-accordion>

                        <!-- <accordion>
                           <accordion-group ng-repeat="item in groupMedia.dataDetail">

                              <div class="media">
                                 <div accordion-heading class="acc-title">{{item.media_type}}</div>
                              </div>
                              <div class="categorycontent">
                                 <div id="ms1" class="customscroll" style="height:300px;">
                                    <ul class="acc-link">
                                       <li ng-repeat="media in item.media_list">
                                          <a href="javascript:;" for="ch3">
                                             <input style="float:left;margin-right:15px" type="checkbox" ng-model="media.chosen" ng-checked="media.chosen" id="med_all_{{media.media_id}}" class="clisetdach">
                                          <label for="ch3">{{media.media_name}}</label>
                                          </a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>

                           </accordion-group>
                        </accordion> -->

                     </div> 
                  </div>
               </div>
            </div>
         </div>



         <div ng-controller="CategoryGroupController as groupCategory" ng-show="settingActive == 2" ng-init="groupCategory.initSetData();">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Group Category</div>
               <div class="panel-body">
                  <p>
                     <span>Add Group Category</span>
                  </p>
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="input-group">
                           <input type="text" class="form-control">
                           <span class="input-group-btn">
                              <button class="btn btn-primary">Save</button>
                           </span>
                        </div><!-- /input-group -->
                     </div>

                     <div class="col-lg-8">
                        <table class="table table-striped">
                           <thead>
                              <tr>
                                 <th>Group Name</th>
                                 <th>Detail</th>
                                 <th>Edit</th>
                                 <th>Delete</th>
                              </tr>
                           </thead>
                           <tbody>
                              <!-- <tr>
                                 <td>John</td>
                                 <td><a href="#edit_medset" class="fancybox icon-pencil"></a></td>
                                 <td><a href="#warning" class="fancybox icon-trash"></a></td>
                              </tr> -->
                              
                              <tr ng-repeat="item in groupCategory.dataSet">
                                 <td>{{item.descriptionz}}</td>
                                 <td><a href="#detail" ng-click="groupCategory.getDetail(item);" class="fancybox icon-list"></a></td>
                                 <td><a href="#edit_medset" class="icon-pencil" data-ng-click="groupCategory.open({selectedArticleData: item, type: 'ugc', updateValue: item.descriptionz})"></a></td>
                                 <td><a href="#warning" class="icon-trash" data-ng-click="groupCategory.open({selectedArticleData: item, type: 'dgc', updateValue: item.descriptionz})"></a></td>
                              </tr>

                           </tbody>
                        </table>
                     </div>

                  </div>

               </div>
               <div class="panel-body bb">
                  <div class="main-5-2" ng-show="groupCategory.showDetail">
                     <!-- <div class="f-sub-title2">Edit Media Set "{{groupMedia.mediaSetName}}"</div>
                     <div class="space-1"></div> -->

                     <div ng-if="groupCategory.dataDetailError">
                        <p>No category has selected for this user. Please contact Administrator for further verification.</p>
                     </div>

                     <div ng-if="!groupCategory.dataDetailError">
                        <br>
                        
                        <div id="cliset_table">
                           <div class="f-sub-title2">Edit Grup Kategori <label id="cliset_name">{{groupCategory.clisetName}}</label></div>
                           <div class="space-1"></div>
                           <button ng-click="groupCategory.updateCategoryList();" type="button" class="btn btn-warning">Save</button>
                           <button type="button" class="btn btn-info">Cancel</button>
                           <div class="clear"></div>
                           <div class="space-1"></div>
                           <br/><br/>
                           <div class="category">
                              <div class="acc-title">Sub-Category</div>
                           </div>
                           <div class="categorycontent">
                              <div id="ms1" class="customscroll" style="height:300px;">
                                 <ul class="acc-link">
                                    <li ng-repeat="item in groupCategory.dataDetail">
                                       <a href="javascript:;" for="ch3">
                                          <input style="float:left;margin-right:15px" type="checkbox" ng-model="item.chosen" ng-checked="item.chosen" class="clisetdach" value="item.category_id"><label for="ch3">{{item.category_id}}</label>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>

                     </div> 
                  </div>
               </div>
            </div>
         </div>



         <div ng-controller="SubCategoryController as subCategory" ng-show="settingActive == 3" ng-init="subCategory.initSetData();">
            <div class="panel b">
               <div class="panel-heading bg-gray-lighter text-bold">Sub Category</div>
               <div class="panel-body">
                  <p>
                     <span>Add Sub Category</span>
                  </p>
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="input-group">
                           <input type="text" class="form-control">
                           <span class="input-group-btn">
                              <button class="btn btn-primary">Save</button>
                           </span>
                        </div><!-- /input-group -->
                     </div>

                     <div class="col-lg-8">
                        <table class="table table-striped">
                           <thead>
                              <tr>
                                 <th>Sub Category Name</th>
                                 <th>Detail</th>
                                 <th>Edit</th>
                                 <th>Delete</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="item in subCategory.dataSet">
                                 <td>{{item.category_id}}</td>
                                 <td><a href="#detail" ng-click="subCategory.getDetail(item);" class="fancybox icon-list"></a></td>
                                 <td><a href="#edit_medset" class="icon-pencil" data-ng-click="subCategory.open({selectedArticleData: item, type: 'usc', updateValue: item.category_id})"></a></td>
                                 <td><a href="#warning" class="icon-trash" data-ng-click="subCategory.open({selectedArticleData: item, type: 'dsc', updateValue: item.category_id})"></a></td>
                              </tr>

                           </tbody>
                        </table>
                     </div>

                  </div>

               </div>
               <div class="panel-body bb">
                  <div class="main-5-2" ng-show="subCategory.showDetail">
                     <div class="f-sub-title2">Sub Category Selection : {{subCategory.clisetName}}</div>
                      <div class="space-1"></div>
                      <div class="f-m8-2">Add Sub Category Group </div>
                      <div id="fieldtxt" class="_d"><input type="text" ng-model="subCategory.keyword" class="boxtxt" name="media group"/></div>                
                      <div class="clear"></div>
                      <div class="f-m8-3">Show Period</div>
                      <div class="f-m8-4">
                          <input type="radio" id="period_1" name="period1"/><label for="period_1" onClick=""><span>Yes</span></label>
                      </div> 
                      <div class="f-m8-4">
                          <input type="radio" id="period_2" name="period1"/><label for="period_2" onClick=""><span>No</span></label>
                      </div>
                      <div class="clear"></div> 
                      
                      <div class="f-m8-2">From</div>
                      <div id="fieldtxt" class="_e">
                          <!-- <input type="text" class="boxtxt" name="from" id="popupDatepicker"/> -->
                          <input type="text" class="boxtxt is-datepick" 
                             datepicker-popup="{{subCategory.format}}" 
                             ng-model="subCategory.dateFrom" 
                             is-open="subCategory.opened" 
                             min-date="subCategory.minDate" 
                             max-date="{{subCategory.maxDate}}"
                             datepicker-options="subCategory.dateOptions" 
                             date-disabled="subCategory.disabled(subCategory.date, subCategory.mode)" 
                             ng-required="true" 
                             close-text="Close"
                             ng-click="subCategory.open($event)"
                          />
                      </div>

                      <div class="f-m8-5">To</div>
                      <div id="fieldtxt" class="_e">
                          <!-- <input type="text" class="boxtxt" name="to" id="popupDatepicker2"/> -->
                          <input type="text" class="boxtxt is-datepick" 
                             datepicker-popup="{{subCategory.format}}" 
                             ng-model="subCategory.dateTo" 
                             is-open="subCategory.opened1" 
                             min-date="subCategory.minDate" 
                             max-date="{{subCategory.maxDate}}"
                             datepicker-options="subCategory.dateOptions" 
                             date-disabled="subCategory.disabled(subCategory.date, subCategory.mode)" 
                             ng-required="true" 
                             close-text="Close"
                             ng-click="subCategory.open1($event)"
                          />
                      </div>
                      <div class="clear"></div>

                      <a class="pointer btn-save" ng-click="subCategory.addNewKeyword();">ADD</a>
                      <div class="clear"></div>
                      <div class="main-8-3">
                          <div class="f-m8-6"><strong>Keywords</strong></div>
                          <div class="f-m8-7"><strong>Delete</strong></div>
                          <div class="clear"></div>
                          <div id="group-selection2" class="customscroll">
                              <div ng-repeat="item in subCategory.dataDetail">
                                  <div class="f-m8-6">{{item.keyword}}</div>
                                  <!-- <div class="f-m8-7"><a href="#warningkeyword" class="fancybox icon-trash" ng-click="getDeleteKeyword(item.category_id);"></a></div> -->
                                  <div class="f-m8-7"><a href="#warning" class="fancybox icon-trash" ng-click="subCategory.getDeleteSubCategoryId(1, item.keyword);"></a></div>
                                  <!-- <div class="f-m8-7"><p class="icon-trash pointer" ng-click="deleteKeyword();"></p></div> -->
                                  <div class="clear"></div>
                              </div>
                          </div>
                      </div>
                  </div>
               </div>
            </div>
         </div>



      </div>
   </div>


   <!-- modals -->
<div class="modal fade" id="myModal" role="dialog">
 <div class="modal-dialog">
 
   <!-- Modal content-->
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title">Modal Header</h4>
     </div>
     <div class="modal-body">
       <p>Some text in the modal.</p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>
   
 </div>
</div>
<!-- modals end -->


</div>


<script type="text/ng-template" id="settingsModal.html">
  <div class="modal-header">
      <!-- <h3 class="modal-title">I'm a modal!</h3> -->
      <h3 ng-if="items.type === 'ugm'" class="modal-title">Edit</h3>
      <h3 ng-if="items.type === 'dgm'" class="modal-title">Delete</h3>
  </div>
  <div class="modal-body">

      <!-- edit Group Name -->
      <div ng-if="items.type === 'ugm' || items.type === 'ugc' || items.type === 'usc'">
        <form name="formSaveSummary">
          <fieldset>
            <label for="summary">Update Group Name:</label>
            <div id="summary_asli" data-ng-bind="items.updateValue" style="background-color:#ffcc33; border: 2px solid #333; border-radius:10px; padding:5px;"></div>
            <input name="summary"
              data-ng-model="items.selectedArticleData.summary"
              style="margin: 10px 0px 10px; width:100%; height: 100px;">
          </fieldset>
        </form>
      </div>

      <!-- edit tonality -->
      <div ng-if="items.type === 'dgm' || items.type === 'dgc' || items.type === 'dsc'">
        <div>
          Are you sure want to remove this group?
        </div>
      </div>

  </div>
  <div class="modal-footer">
        <button ng-if="items.type === 'ugm'" class="btn btn-primary" type="button" ng-click="doUpdateGroupMedia()">Submit</button>
        <button ng-if="items.type === 'dgm'" class="btn btn-primary" type="button" ng-click="doDeleteGroupMedia()">Submit</button>
        <button ng-if="items.type === 'ugc'" class="btn btn-primary" type="button" ng-click="doUpdateGroupCategory()">Submit</button>
        <button ng-if="items.type === 'dgc'" class="btn btn-primary" type="button" ng-click="doDeleteGroupCategory()">Submit</button>
        <button ng-if="items.type === 'usc'" class="btn btn-primary" type="button" ng-click="doUpdateSubCategory()">Submit</button>
        <button ng-if="items.type === 'dsc'" class="btn btn-primary" type="button" ng-click="doDeleteSubCategory()">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>