<!-- <div class="container-fluid" data-ng-controller="FilterController" data-ng-show="authentication.user" ng-init="initFilterOption()"> -->
<div class="container-fluid">


  <span>

    <div class="row">

      <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="panel panel-danger">
            <div class="panel-heading">Kategori</div>
            <div class="panel-body">

              <div class="form-group">
                <select class="form-control"
                        ng-model="$ctrl.selectedGroupCategory"
                        ng-options="gc.descriptionz for gc in $ctrl.groupCategories"
                        ng-change="$ctrl.changeCategorySet();">
                </select>  
              </div>

              <div class="form-group">
                <select class="form-control"
                      ng-model="$ctrl.selectedSubCategory"
                      ng-options="sc.category_id for sc in $ctrl.subCategories"
                      ng-change="$ctrl.changeSubCategory();">
                </select>
              </div>

            </div>
            
          </div>
      </div>

      <div class="col-lg-6 col-md-6 col-xs-12">
          <div class="panel panel-danger">
            <div class="panel-heading">Media</div>
            <div class="panel-body">

              <div class="form-group">
                <select class="form-control"
                        ng-model="$ctrl.selectedGroupMedia"
                        ng-options="mc.media_set_name for mc in $ctrl.groupMedias"
                        ng-change="$ctrl.changeMediaSet();">
                </select>
              </div>

              <div class="form-group">
                <select class="form-control"
                        ng-model="$ctrl.selectedMediaSelection"
                        ng-options="ms.media_name for ms in $ctrl.mediaSelections"
                        ng-change="$ctrl.changeMediaID();">
                </select>
              </div>

            </div>
            
          </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="panel panel-danger">
            <div class="panel-heading">Periode</div>
            <div class="panel-body">

              <div class="form-group">
                <select class="form-control option-set clearfix chosen-select-no-single" 
                        id="select"
                        ng-model="$ctrl.selectedPeriodOptions"
                        ng-options="po.name for po in $ctrl.periodOptions"
                        ng-change="$ctrl.periodChange()">
                </select>
              </div>

              <div class="form-group" ng-if="!$ctrl.hiddenPeriod">

                <div class="content form-inline">
                  <div id="period-form" class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                    <div class="label-form-1">
                      <strong>Period : </strong>
                    </div>

                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.dateFrom" is-open="$ctrl.popup1.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" ng-change="$ctrl.model.df = $ctrl.changeDate($ctrl.dateFrom);" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.open1()"><i class="fa fa-calendar"></i></button>
                      </span>
                    </p>
                    To
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.dateTo" is-open="$ctrl.popup2.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" ng-change="$ctrl.model.dt = $ctrl.changeDate($ctrl.dateTo);" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.open2()"><i class="fa fa-calendar"></i></button>
                      </span>
                    </p>

                  </div>
                </div>

              </div>

              <div class="form-group">
                <button type="button" class="btn btn-warning pull-right" ng-click="$ctrl.changeFilter()">Filter</button>
              </div>

            </div>
            
          </div>
      </div>
    </div>

  </span>

</div>