/*Page related styles for you to view*/
#mycustomscroll {
/* Typical fixed height and fixed width example */
width: 440px;
height: 280px;
overflow: auto;
/* IE overflow fix, position must be relative or absolute*/
position: absolute;
}

.fixedwidth {
/* a wide div is used for creating horizontal scrollbars for demonstration purposes */
width: 410px;
height: auto;
position: relative;
padding: 1px;
}
/* general page style ends here */