/* Columns shortcode
----------------------------------------------------------------------------------------------------*/
.fullwidth {
	width:100%;
	float:left;
}
.one_half {
	width:48.10%;
	float:left;
	margin-right:3.80%;
}
.one_half_last {
	width:48.10%;
	float:right;
}
.one_third {
	width:35.80%;
	float:left;
	margin-right:3.80%;
}

.one_third_last {
	width:35.80%;
	float:right;
}
.two_third {
	width:53.40%;
	float:left;
}
.two_third_last {
	width:65.40%;
	float:right;
}
.one_fourth {
	width:22.15%;
	float:left;
	margin-right:3.80%;
}
.one_fourth_last {
	width:22.15%;
	float:right;
}
.three_fourth {
	width:74.05%;
	float:left;
	margin-right:3.80%;
}
.three_fourth_last {
	width:74.05%;
	float:right;
}
.one_fifth {
	width:16.96%;
	float:left;
	margin-right:3.80%;
}
.one_fifth_last {
	width:16.96%;
	float:right;
	margin-bottom:20px;
}
.four_fifth {
	width:79.240%;
	float:left;
	margin-right:3.80%;
}
.four_fifth_last {
	width:79.240%;
	float:right;
}
* html .clearfix {
} /* IE6 */
*:first-child+html .clearfix {
} /* IE7 */
/* clearfix */

.clear {
	clear:both;
	display:block;
	height:0px;
	width:100%;
	visibility:hidden;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*login*/
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/*
body {
	background: #DCDDDF url(../7AF2Qzt.png);
	color: #000;
	font: 14px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
*/
h1{ font-size:28px;}
h2{ font-size:26px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
h1,h2,h3,h4,h5,h6{ color:#563D64;}
small{ font-size:10px;}
b, strong{ font-weight:bold;}
a{ text-decoration: none; }
a:hover{ text-decoration: underline; }
.left { float:left; }
.right { float:right; }
.alignleft { float: left; margin-right: 15px; }
.alignright { float: right; margin-left: 15px; }
.clearfix:after,
form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.container {position: relative; width: 95%; }
#content_login {
	
	background: #fff;  
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 400px;
	color : #000; 
	opacity:0.8;
}
#content_login h1 {
	color: #7E7E7E;
	font: bold 25px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 10px 0 30px;
}
/*
#content_login h1:before,
#content_login h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}
#content_login h1:after {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#content_login h1:before {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#content_login:after,
#content_login:before {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	border: 1px solid #c4c6ca;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
}
#content_login:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	top: 0;
	z-index: -1;
}
#content_login:before {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	top: 0;
	z-index: -2;
}
* */
#content_login form { margin: 0 20px; position: relative }
#content_login form input[type="text"],
#content_login form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #ffffff; /* url(../images/8bcLQqF.png) no-repeat;*/
	border: 1px solid #c8c8c8;
	color: #222;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 5px;
	width: 90%;
}
#content_login form input[type="text"]:focus,
#content_login form input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#content_login form input[type="submit"] {
	background: #E84723;
	background: -moz-linear-gradient(top,  #f37373 0%, #E84723 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f37373), color-stop(100%,#E84723));
	background: -webkit-linear-gradient(top,  #f37373 0%,#E84723 100%);
	background: -o-linear-gradient(top,  #f37373 0%,#E84723 100%);
	background: -ms-linear-gradient(top,  #f37373 0%,#E84723 100%);
	background: linear-gradient(to bottom,  #f37373 0%,#E84723 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f37373', endColorstr='#E84723',GradientType=0 );
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
	border: 1px solid #A82A2A;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 35px 30px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
}
#content_login form input[type="submit"]:hover {
	background: #E84723;
	background: -moz-linear-gradient(top,  #E84723 0%, #f37373 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E84723), color-stop(100%,#f37373));
	background: -webkit-linear-gradient(top,  #E84723 0%,#f37373 100%);
	background: -o-linear-gradient(top,  #E84723 0%,#f37373 100%);
	background: -ms-linear-gradient(top,  #E84723 0%,#f37373 100%);
	background: linear-gradient(to bottom,  #E84723 0%,#f37373 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E84723', endColorstr='#f37373',GradientType=0 );
}
#content_login form div a {
	color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
.button {
	background: rgb(247,249,250);
	background: -moz-linear-gradient(top,  rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #CFD5D9;
	padding: 15px 0;
}
.button a {
	background: url(../images/8bcLQqF.png) 0 -112px no-repeat;
	color: #7E7E7E;
	font-size: 17px;
	padding: 2px 0 2px 40px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button a:hover {
	background-position: 0 -135px;
	color: #00aeef;
}

