<h3>
   <!-- <div class="pull-right text-center">
     aaaaa
   </div> -->
   Dashboards - List Article
</h3>

<div ng-controller="DashboardsListArticleController as table" class="container-fluid">
<!-- <span ng-init="table.requestData(table.initData)"> -->
<span ng-init="table.requestData(table.initData)">


  <div class="panel panel-default" data-ng-init="table.initData()">
      <div class="panel-heading">
         Search: <input type="text" ng-model="table.searchTable">  
         <span class="pull-right">
            <button ng-click="table.tableParams.sorting({})" class="btn btn-primary btn-sm">Clear sorting</button>
         </span>
      </div>
      
      <br><br>

      {{table.articleLists|json}}
      <!-- <table ng-table="table.tableParams" show-filter="false" class="tablesorter-blue table table-bordered table-striped table-condensed">
         <tr ng-repeat-start="article in $data">

            <td data-title="'✔'" align="center" sortable="'article_id'">
               <input type="checkbox" value="{{article.article_id}}" ng-checked="table.checkSelectionExists(article)" ng-click="table.toggleSelection(article)">
            </td>

            <td data-title="'No'">
               {{((table.tableParams.page() - 1) * table.tableParams.count()) + $index + 1}}
            </td>

            <td data-title="'Tanggal'" sortable="'detail.datee'" show="true">
               {{article.detail.datee.substring(0,10)}}
            </td>

            <td data-title="'Judul'" sortable="'detail.title'">

               <a href="#" ng-click="table.checkExpanded(article)" class="ts-link fancybox">
                  {{ article.detail.title }}
               </a>

               <img ng-show="article.detail.activity.indexOf('print') !== -1" src="/asset/images/print-icon.png" title="Artikel sudah dicetak" alt="Artikel sudah dicetak">
               <img ng-show="article.detail.activity.indexOf('doc') !== -1" src="/asset/images/docx-win-icon.png" title="Dokumen artikel sudah diunduh" alt="Dokumen artikel sudah diunduh">
               <img ng-show="article.detail.activity.indexOf('pdf_scan') !== -1" src="/asset/images/pdf-icon.png" title="Scan PDF artikel sudah diunduh" alt="Scan PDF artikel sudah diunduh">
               <img ng-show="article.detail.activity.indexOf('pdf_text') !== -1" src="/asset/images/accdb-icon.png" title="Teks PDF artikel sudah diunduh" alt="Teks PDF artikel sudah diunduh">

            </td>

            <td data-title="'Media'">
               {{article.detail.media_name}}
            </td>

            <td data-title="'Hal'">
               <a href="{{article.detail.file_pdf}}" ng-if="article.detail.file_pdf.indexOf('http') > -1" target="_blank">
                  Link
               </a>

               <p ng-if="article.detail.file_pdf.indexOf('http') == -1">
                  {{article.detail.page}}
               </p>
            </td>

         </tr>

         <tr ng-if="article.expanded" ng-repeat-end="" >
            <td colspan="9" >
            
               <br><br>
               <div id="printable_{{article.article_id}}">
                 <div>
                   <img src="http://admin.antara-insight.id/asset/images/{{table.authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
                   <table>
                     <tbody><tr>
                       <td>
                         <b>Title<b>
                       </b></b></td>
                       <td>
                         &nbsp;&nbsp;:&nbsp;&nbsp;
                       </td>
                       <td>{{article.detail.title}}<br/></td>
                     </tr>
                     <tr>
                       <td><b>Date</b></td>
                       <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                       <td>{{article.detail.datee.substring(0,10)}}<br/></td>
                     </tr>
                     <tr>
                       <td><b>Media</b></td>
                       <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                       <td>{{article.detail.media_name}}<br/></td>
                     </tr>
                     <tr>
                       <td><b>NewsValue</b></td>
                       <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                       <td>{{article.values.newsvalue_bw}}<br/></td>
                     </tr>
                     <tr>
                       <td><b>AdValue</b></td>
                       <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                       <td>{{article.values.advalue_bw}}<br/></td>
                     </tr>
                     <tr><td colspan="3"><br/></td></tr>
                     <tr>
                       <td><b>Content</b></td>
                       <td>&nbsp;&nbsp;:</td>
                       <td></td>
                     </tr>
                   </tbody></table>
                 </div>
                 <br>
                   <div>
                     <p ng-bind-html="table.trustAsHtml(table.highlightKeyword(article))"></p>
                   </div>
                 <br>

                 <br>
                 <b><i>Kategori</i></b>:
                 <span ng-repeat="ci in article.categories">
                   <span class="tag-selected">
                     <b>{{ci}}</b>
                   </span>

                   <span ng-if="!$last">,&nbsp;</span>
                 </span>

               </div>

               <br>

               <b>
                 <div id="non-printable">

                  <br><br>
                  <input class="btn-info" value="Print" type="button" ng-click="table.saveActivity(article, 'print');" ng-print print-element-id="printable_{{article.article_id}}">&nbsp;&nbsp;
                  <input class="btn-info" value="Teks pdf" ng-click="table.getPDF('teks_pdf', article);" type="button">&nbsp;&nbsp;
                  <input class="btn-info" value="Doc" ng-click="table.originaleSingle(1, 0, article, 'doc');" type="button">&nbsp;&nbsp;
                  <input ng-show="article.detail.file_pdf.indexOf('.pdf') !== -1" class="btn-info" value="Teks Asli" ng-click="table.originaleSingle(2, 1, article, 'pdf_text');" type="button">&nbsp;&nbsp;
                  <input ng-show="article.detail.file_pdf.indexOf('.pdf') !== -1" class="btn-info" value="Scan Media" ng-click="table.originaleSingle(1, 1, article, 'pdf_scan');" type="button">&nbsp;&nbsp; 
                  <br><br>

                 </div>
               </b>

               <br>
               <hr>
               <br>

            </td> 
        </tr>

      </table> -->


   </div>

  </div>


</span>
</div>
