<h3>
   <!-- <div class="pull-right text-center">
     aaaaa
   </div> -->
   Dashboards
</h3>

<div ng-controller="DashboardsController as chart" class="container-fluid">
<span ng-init="chart.initData();">

<filter-forms model="chart.filterOptions" change-filter="chart.reloadCharts()"></filter-forms>

<!-- START widgets box-->
<div class="row">
 <!-- <div class="col-lg-4 col-sm-6">
    <div class="panel widget bg-white">
       <div class="row row-table">
          <div class="col-xs-12 pv-lg text-center">
            <highchart class="text-center" config=chart.positiveChartOptions></highchart>
          </div>
       </div>
    </div>
 </div>
 <div class="col-lg-4 col-sm-6">
    <div class="panel widget bg-white">
       <div class="row row-table">
          <div class="col-xs-12 pv-lg text-center">
            <highchart class="text-center" config=chart.neutralChartOptions></highchart>
          </div>
       </div>
    </div>
 </div>
 <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel widget bg-white">
       <div class="row row-table">
          <div class="col-xs-12 pv-lg text-center">
            <highchart class="text-center" config=chart.negativeChartOptions></highchart>
          </div>
       </div>
    </div>
 </div> -->
 <div class="col-lg-3 col-sm-6">
    <div class="panel widget bg-white">
       <div class="row row-table">
          <div class="col-xs-12 pv-lg text-center">
            <highchart class="text-center" config=chart.positiveChartOptions></highchart>
          </div>
       </div>
    </div>
 </div>
 <div class="col-lg-3 col-sm-6">
    <div class="panel widget bg-white">
       <div class="row row-table">
          <div class="col-xs-12 pv-lg text-center">
            <highchart class="text-center" config=chart.neutralChartOptions></highchart>
          </div>
       </div>
    </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel widget bg-white">
       <div class="row row-table">
          <div class="col-xs-12 pv-lg text-center">
            <highchart class="text-center" config=chart.negativeChartOptions></highchart>
          </div>
       </div>
    </div>
 </div>
 <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel widget bg-white">
       <div class="row row-table">
          <div class="col-xs-12 pv-lg text-center">
            <button type="button" class="btn btn-success" ng-click="chart.downloadExcel()">Download Excel</button>
            <br><br><br>
            <button type="button" class="btn btn-danger" ng-click="chart.downloadPPT()">Download PPT</button>
          </div>
       </div>
    </div>
 </div>
</div>
<!-- END widgets box-->

<!-- START row -->
<div class="row">
   <div class="col-lg-12">
      <div id="panelChart4" class="panel panel-default">
         <div class="panel-heading">
            <paneltool tool-refresh="tool-refresh" tool-collapse="tool-collapse"></paneltool>
            <div class="panel-title">Media Visibility</div>
         </div>
         <div uib-collapse="panelChart4" class="panel-wrapper">
            <div class="panel-body">
                <highchart id="chart_007" config="chart.mediaVisibilityConfig" height="300px"></highchart>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- END row -->

<!-- START row -->
<div class="row">
  <div class="col-md-6">
     <div id="panelChart5" class="panel">
        <div class="panel-heading">
          <paneltool tool-refresh="tool-refresh" tool-collapse="tool-collapse"></paneltool>
          <div class="panel-title">Summary</div>
        </div>
        <div uib-collapse="panelChart5" class="panel-wrapper">
          <div class="panel-body">
            <highchart config="chart.summaryConfig" style="position: relative;"></highchart>
          </div>
        </div>
     </div>
  </div>

  <div class="col-md-6">
     <div id="panelChart6" class="panel">
        <div class="panel-heading">
           <paneltool tool-refresh="tool-refresh" tool-collapse="tool-collapse"></paneltool>
           <div class="panel-title">Tone by Category</div>
        </div>
        <div uib-collapse="panelChart6" class="panel-wrapper">
           <div class="panel-body">
             <div class="indicator show">
                <span class="spinner"></span>
             </div>
             <highchart config="chart.toneByCategoryConfig"></highchart>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- END row -->

<!-- START row -->
<div class="row">
  <div class="col-lg-12">
     <div id="panelChart7" class="panel">
        <div class="panel-heading">
           <paneltool tool-refresh="tool-refresh" tool-collapse="tool-collapse"></paneltool>
           <div class="panel-title">Coverage Tonality</div>
        </div>
        <div uib-collapse="panelChart7" class="panel-wrapper">
           <div class="panel-body">
             <div class="indicator show">
                <span class="spinner"></span>
             </div>
             <highchart config="chart.coverageTonalityConfig"></highchart>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- END row -->

<!-- START row -->
<div class="row">
  <div class="col-lg-12">
     <div id="panelChart8" class="panel">
        <div class="panel-heading">
           <paneltool tool-refresh="tool-refresh" tool-collapse="tool-collapse"></paneltool>
           <div class="panel-title">Tone by Media</div>
        </div>
        <div uib-collapse="panelChart8" class="panel-wrapper">
           <div class="panel-body">
             <div class="indicator show">
                <span class="spinner"></span>
             </div>
             <highchart config="chart.mediaSelectionConfig"></highchart>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- END row -->

<!-- START row -->
<div class="row">
  <div class="col-lg-12">
     <div id="panelChart9" class="panel">
        <div class="panel-heading">
           <paneltool tool-refresh="tool-refresh" tool-collapse="tool-collapse"></paneltool>
           <div class="panel-title">Early Warning System</div>
        </div>
        <div uib-collapse="panelChart9" class="panel-wrapper">
           <div class="panel-body">
              <!-- <chart dataset="chart.lineData" options="chart.lineOptions" height="300px"></flot> -->
              <highchart config="chart.EWSChartConfig"></highchart>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- END row -->
</span>
</div>





<script type="text/ng-template" id="dashboardList.html">
  <div class="modal-header">
      <h3 ng-if="initData.type === '0'" class="modal-title" ng-init="requestData(initData)">Artikel ( Category : {{initData.sub_category}} )</h3>
      <h3 ng-if="initData.type === '4'" class="modal-title" ng-init="requestData(initData)">Artikel ( Date : {{initData.date_from}}, Category : {{initData.sub_category}} )</h3>
      <h3 ng-if="initData.type === '050'" class="modal-title" ng-init="requestData(initData)">Artikel ( Media : {{initData.media_id.name}}, Sentimen: {{initData.tone}} )</h3>
      <h3 ng-if="initData.type === '019'" class="modal-title" ng-init="requestData(initData)">Artikel ( Category : {{initData.sub_category}}, Sentimen: {{initData.tone}} )</h3>
      <h3 ng-if="initData.type === 'ews'" class="modal-title" ng-init="requestData(initData)">Artikel ( Date : {{initData.date_from}}, Category : {{initData.category}} )</h3>

      <h3 ng-if="initData.type === 'date'" class="modal-title" ng-init="requestData(initData)">Artikel ( Date : {{initData.date_from}}, Category : {{initData.category}} )</h3>
      <h3 ng-if="initData.type === 'category'" class="modal-title" ng-init="requestData(initData)">Artikel ( Category : {{initData.category}} )</h3>
      <h3 ng-if="initData.type === '018'" class="modal-title" ng-init="requestData(initData)">Artikel ( Date : {{initData.date_from}}, Sentimen: {{initData.tone}} )</h3>
  </div>
  <div class="modal-body">
    <br><br>
    Search: <input type="text" ng-model="table.searchTable">  
    <br>
    <br>
    <br>
    <table ng-table="tableParams" show-filter="false" class="tablesorter-blue table table-bordered table-striped table-condensed">
       <tr ng-repeat-start="article in $data">

          <td data-title="'No'">
             {{((tableParams.page() - 1) * tableParams.count()) + $index + 1}}
          </td>

          <td data-title="'Tanggal'" sortable="'detail.datee'" show="true">
             {{article.datee.substring(0,10)}}
          </td>

          <td data-title="'Judul'" sortable="'detail.title'">

             <a href="#" ng-click="checkExpanded(article)" class="ts-link fancybox">
                {{ article.title }}
             </a>
          </td>

          <td data-title="'Media'">
             {{article.media_name}}
          </td>

          <td data-title="'Hal'">
             <a href="{{article.file_pdf}}" ng-if="article.file_pdf.indexOf('http') > -1" target="_blank">
                Link
             </a>

             <p ng-if="article.file_pdf.indexOf('http') == -1">
                {{article.page}}
             </p>
          </td>

       </tr>

       <tr ng-if="article.expanded" ng-repeat-end="" >
          <td colspan="9" >
          
             <br><br>
             <div id="printable_{{article.article_id}}">
               <div>
                 <img src="http://admin.antara-insight.id/asset/images/{{authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
                 <table>
                   <tbody><tr>
                     <td>
                       <b>Title<b>
                     </b></b></td>
                     <td>
                       &nbsp;&nbsp;:&nbsp;&nbsp;
                     </td>
                     <td>{{article.title}}<br/></td>
                   </tr>
                   <tr>
                     <td><b>Date</b></td>
                     <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                     <td>{{article.datee.substring(0,10)}}<br/></td>
                   </tr>
                   <tr>
                     <td><b>Media</b></td>
                     <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                     <td>{{article.media_name}}<br/></td>
                   </tr>
                   <tr>
                     <td><b>NewsValue</b></td>
                     <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                     <td>{{article.values.newsvalue_bw}}<br/></td>
                   </tr>
                   <tr>
                     <td><b>AdValue</b></td>
                     <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                     <td>{{article.values.advalue_bw}}<br/></td>
                   </tr>
                   <tr><td colspan="3"><br/></td></tr>
                   <tr>
                     <td><b>Content</b></td>
                     <td>&nbsp;&nbsp;:</td>
                     <td></td>
                   </tr>
                 </tbody></table>
               </div>
               <br>
                 <div>
                  <br>
                  <div ng-bind-html="trustAsHtml(article.mediaHTML);"></div>
                  <br><br>
                  <p>{{article.content}}</p>
                 </div>
               <br>

               <!-- <br>
               <b><i>Kategori</i></b>:
               <span ng-repeat="ci in article.categories">
                 <span class="tag-selected">
                   <b>{{ci}}</b>
                 </span>

                 <span ng-if="!$last">,&nbsp;</span>
               </span> -->

             </div>

             <br>

             <b>
               <div id="non-printable">

                <br><br>
                <input class="btn-info" value="Print" type="button" ng-click="saveActivity(article, 'print');" ng-print print-element-id="printable_{{article.article_id}}">&nbsp;&nbsp;
                <input class="btn-info" value="Teks pdf" ng-click="getPDF('teks_pdf', article);" type="button">&nbsp;&nbsp;
                <input class="btn-info" value="Doc" ng-click="originaleSingle(1, 0, article, 'doc');" type="button">&nbsp;&nbsp;
                <input ng-show="article.detail.file_pdf.indexOf('.pdf') !== -1" class="btn-info" value="Teks Asli" ng-click="originaleSingle(2, 1, article, 'pdf_text');" type="button">&nbsp;&nbsp;
                <input ng-show="article.detail.file_pdf.indexOf('.pdf') !== -1" class="btn-info" value="Scan Media" ng-click="originaleSingle(1, 1, article, 'pdf_scan');" type="button">&nbsp;&nbsp; 
                <br><br>

               </div>
             </b>

             <br>
             <hr>
             <br>

          </td> 
      </tr>

    </table>

  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
  </div>
</script>