.CSSTableGenerator {

	margin:0px;padding:0px;
	width:100%;
	/*
	box-shadow: 10px 10px 5px #888888;

	

	

	-moz-border-radius-bottomleft:0px;

	-webkit-border-bottom-left-radius:0px;

	border-bottom-left-radius:0px;

	

	-moz-border-radius-bottomright:0px;

	-webkit-border-bottom-right-radius:0px;

	border-bottom-right-radius:0px;

	

	-moz-border-radius-topright:0px;

	-webkit-border-top-right-radius:0px;

	border-top-right-radius:0px;

	

	-moz-border-radius-topleft:0px;

	-webkit-border-top-left-radius:0px;

	border-top-left-radius:0px;*/

}.CSSTableGenerator table{

	width:100%;

	height:100%;

	margin:0px;padding:0px;

}.CSSTableGenerator tr:last-child td:last-child {

	-moz-border-radius-bottomright:0px;

	-webkit-border-bottom-right-radius:0px;

	border-bottom-right-radius:0px;

}

.CSSTableGenerator table tr:first-child td:first-child {

	-moz-border-radius-topleft:0px;

	-webkit-border-top-left-radius:0px;

	border-top-left-radius:0px;

}

.CSSTableGenerator table tr:first-child td:last-child {

	-moz-border-radius-topright:0px;

	-webkit-border-top-right-radius:0px;

	border-top-right-radius:0px;

}.CSSTableGenerator tr:last-child td:first-child{

	-moz-border-radius-bottomleft:0px;

	-webkit-border-bottom-left-radius:0px;

	border-bottom-left-radius:0px;

}.CSSTableGenerator tr:hover td{

	

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#fff7ef; }

.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }
.CSSTableGenerator td{

	vertical-align:top;

	

	

	

	border-width:0px 1px 1px 0px;

	text-align:left;
	
	padding:4px;
	
	font-size:12px;
	/*
	font-family:Arial;
	*/

	font-weight:normal;
	

	color:#000000;

}.CSSTableGenerator tr:last-child td{

	border-width:0px 1px 0px 0px;

}.CSSTableGenerator tr td:last-child{

	border-width:0px 0px 1px 0px;

}.CSSTableGenerator tr:last-child td:last-child{

	border-width:0px 0px 0px 0px;

}

.CSSTableGenerator tr:first-child td{

		background:-o-linear-gradient(bottom, #C7BCA3 5%, #C7BCA3 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C7BCA3), color-stop(1, #C7BCA3) );
	background:-moz-linear-gradient( center top, #C7BCA3 5%, #C7BCA3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#C7BCA3", endColorstr="#C7BCA3");	background: -o-linear-gradient(top,#C7BCA3,C7BCA3);


	background-color:#C7BCA3;

	

	text-align:center;

	border-width:0px 0px 1px 1px;

	font-size:12px;
	/*

	font-family:Arial;
	*/

	font-weight:bold;

	color:#000000;

}

.CSSTableGenerator tr:first-child:hover td{
	/*
	background:-o-linear-gradient(bottom, #fff7ef 5%, #c7b299 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fff7ef), color-stop(1, #c7b299) );
	background:-moz-linear-gradient( center top, #fff7ef 5%, #c7b299 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff7ef", endColorstr="#c7b299");	background: -o-linear-gradient(top,#fff7ef,c7b299);


	background-color:#fff7ef;
	*/

}

.CSSTableGenerator tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.CSSTableGenerator tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;

}