<h3>
   <!-- <div class="pull-right text-center">
     aaaaa
   </div> -->
   Editings
</h3>
<div ng-controller="EditingsController as table" class="container-fluid">

<filter-forms model="table.filterOptions" change-filter="table.reloadTables()"></filter-forms>

   <div class="panel panel-default" data-ng-init="table.initData()">
      <div class="panel-heading">
         Search: <input type="text" ng-model="table.searchTable">  
         <span class="pull-right">
            <button ng-click="table.tableParams.sorting({})" class="btn btn-primary btn-sm">Clear sorting</button>
         </span>
      </div>
      <br><br>

      <div style="float: right;">
        Check All<input type="checkbox" ng-model="selectedAll" ng-click="table.checkAll();" style="display: block;" />
      </div>
      <br><br>

      <table ng-table="table.tableParams" show-filter="false" class="tablesorter-blue table table-bordered table-striped table-condensed">
        <tr ng-repeat-start="article in $data">
            <td data-title="'✔'" align="center" sortable="'article_id'">
              <input type="checkbox" value="{{article.article_id}}" ng-checked="table.checkSelectionExists(article)" ng-click="table.toggleSelection(article)">
            </td>

            <td data-title="'No'">
              {{((table.tableParams.page() - 1) * table.tableParams.count()) + $index + 1}}
            </td>

            <td data-title="'Article_ID'" sortable="'article_id'">
              {{article.article_id}}
            </td>

            <td data-title="'Tanggal'" sortable="'detail.datee'" show="true">
              {{article.detail.datee.substring(0,10)}}
            </td>

            <td data-title="'Media'">
              {{article.detail.media_name}}
            </td>

            <td data-title="'Hal'">
              <a href="{{article.detail.file_pdf}}" ng-if="article.detail.file_pdf.indexOf('http') > -1" target="_blank">
                Link
              </a>

              <p ng-if="article.detail.file_pdf.indexOf('http') == -1">
                {{article.detail.page}}
              </p>
            </td>

            <td data-title="'Judul'" sortable="'detail.title'">

              <a href="#" ng-click="table.checkExpanded(article)" class="ts-link fancybox">
                {{ article.detail.title }}
              </a>

              <img ng-show="article.detail.activity.indexOf('print') > -1" src="/asset/images/print-icon.png" title="Artikel sudah dicetak" alt="Artikel sudah dicetak">
              <img ng-show="article.detail.activity.indexOf('doc') > -1" src="/asset/images/docx-win-icon.png" title="Dokumen artikel sudah diunduh" alt="Dokumen artikel sudah diunduh">
              <img ng-show="article.detail.activity.indexOf('pdf_scan') > -1" src="/asset/images/pdf-icon.png" title="Scan PDF artikel sudah diunduh" alt="Scan PDF artikel sudah diunduh">
              <img ng-show="article.detail.activity.indexOf('pdf_text') > -1" src="/asset/images/accdb-icon.png" title="Teks PDF artikel sudah diunduh" alt="Teks PDF artikel sudah diunduh">

            </td>

            <td data-title="'Ringkasan'" sortable="'summary'">
              {{(article.summary !== '' ? article.summary : 'There is no summary')}}
              <!-- <a ng-if="table.authentication.user.user_detail.stat_edit === 'Y'" href="#" data-ng-click="table.editSummary(article, 'dialog-form-summary')"> -->
              <a ng-if="table.authentication.user.user_detail.stat_edit === 'Y'" href="#" data-ng-click="table.open({selectedArticleData: article, type: 'summary', updateValue: article.summary})">
                <img src="asset/dist/img/icon-pen2.png" class="icon-pen">
              </a>
              <a href="#" class="icon-flag" ng-show="article.detail.activity.indexOf('summary_deleted') > -1 || article.detail.activity.indexOf('summary_edited') > -1"></a>
            </td>

            <td data-title="'Sentimen'">
              <a href="#" class="ts-link" ng-if="article.tone > 0">POSITIVE</a>
              <a href="#" class="ts-link" ng-if="article.tone == 0">NEUTRAL</a>
              <a href="#" class="ts-link" ng-if="article.tone < 0">NEGATIVE</a>
              <!-- <a ng-if="table.authentication.user.user_detail.stat_edit === 'Y'" href="#" data-ng-click="table.editSummary(article, 'dialog-tone-form')"> -->
                <a ng-if="table.authentication.user.user_detail.stat_edit === 'Y'" href="#" data-ng-click="table.open({selectedArticleData: article, type: 'tone', updateValue: article.tone})">
                <img src="asset/dist/img/icon-pen2.png" class="icon-pen">
              </a>
              <a href="#" class="icon-flag" ng-show="article.detail.activity.indexOf('tone_edited') > -1 || article.detail.activity.indexOf('tone_deleted') > -1"></a>
            </td>

            <td ng-if="table.authentication.user.user_detail.stat_edit === 'Y'" data-title="'Hapus'">
              <a href="#" ng-click="deleteArticle(article);" class="icon-trash fancybox"></a>
            </td>

        </tr>

        <tr ng-if="article.expanded" ng-repeat-end="" >
          <td colspan="9" >
            
            <br><br>
            <div id="printable">
              <div>
                <img src="http://admin.antara-insight.id/asset/images/{{table.authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
                <table>
                  <tbody><tr>
                    <td>
                      <b>Title<b>
                    </b></b></td>
                    <td>
                      &nbsp;&nbsp;:&nbsp;&nbsp;
                    </td>
                    <td>{{article.detail.title}}<br/></td>
                  </tr>
                  <tr>
                    <td><b>Date</b></td>
                    <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                    <td>{{article.detail.datee.substring(0,10)}}<br/></td>
                  </tr>
                  <tr>
                    <td><b>Media</b></td>
                    <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                    <td>{{article.detail.media_name}}<br/></td>
                  </tr>
                  <tr>
                    <td><b>NewsValue</b></td>
                    <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                    <td>{{article.values.newsvalue_bw}}<br/></td>
                  </tr>
                  <tr>
                    <td><b>AdValue</b></td>
                    <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                    <td>{{article.values.advalue_bw}}<br/></td>
                  </tr>
                  <tr><td colspan="3"><br/></td></tr>
                  <tr>
                    <td><b>Content</b></td>
                    <td>&nbsp;&nbsp;:</td>
                    <td></td>
                  </tr>
                </tbody></table>
              </div>
              <br>
                <div>
                  <br>
                  <div ng-bind-html="table.trustAsHtml(article.detail.mediaHTML);"></div>
                  <br><br>
                  <p ng-bind-html="table.trustAsHtml(table.highlightKeyword(article))"></p>
                </div>
              <br>

              <br>
              <b><i>Kategori</i></b>:
              <!-- <span ng-repeat="ci in article.categories">
                <span ng-class="article.selectedCategories.indexOf(ci) > -1 ? 'tag-selected' : 'tag'">
                  <b>{{ci}}</b>
                  &nbsp;&nbsp;
                  <a ng-show="articleDetail.selectedCategories.indexOf(ci) > -1" title='Hapus tag kategori ini.' class='untag' ng-click="deleteArticle({_id: [articleDetail._id[$index]], article_id: articleDetail.article_id, categories: [ci]});">
                    <span class='icon-remove'></span>
                  </a>
                </span> 
                <span ng-if="!$last">,&nbsp;</span>
              </span> -->
              <span ng-repeat="ci in article.categories">
                <span class="tag-selected">
                  <b>{{ci}}</b>
                  <!-- <a ng-show="articleDetail.selectedCategories.indexOf(ci) > -1" title='Hapus tag kategori ini.' class='untag' ng-click="deleteArticle({_id: [articleDetail._id[$index]], article_id: articleDetail.article_id, categories: [ci]});">
                    <span class='icon-remove'></span>
                  </a> -->
                  &nbsp;&nbsp;
                  <!-- <a title='Hapus artikel dari kategori ini.' class='untag' ng-click="table.deleteArticle({_id: [article._id[$index]], article_id: article.article_id, categories: [ci]});">
                    <span class='icon-trash'></span>
                  </a> -->
                  <a title='Hapus artikel dari kategori ini.' class='untag' ng-click="table.open();">
                    <span class='icon-trash'></span>
                  </a>
                </span>

                <span ng-if="!$last">,&nbsp;</span>
              </span>

            </div>

            <br>

            <b>
              <div id="non-printable">
                <br><br>
                <input ng-if="table.authentication.user.user_detail.stat_edit === 'Y'" class="btn-danger" value="Delete Article" ng-click="table.deleteArticle(articleDetail, 1)" type="button">&nbsp;&nbsp;
                <input ng-if="table.authentication.user.user_detail.stat_edit === 'Y'" class="btn-success" value="Save News" type="button" ng-click="table.saveArticle(articleDetail);">&nbsp;&nbsp;
                <br><br>
              </div>
            </b>

            <br>
            <hr>
            <br>

          </td> 
        </tr>

      </table>

   </div>


   <!-- modals -->
   <!-- <div id="dialog-form-summary" title="Edit Ringkasan" class="dialogPadd warningDialog">
    <form name="formSaveSummary" id="formSaveSummary">
      <fieldset>
        <label for="summary">Edit Ringkasan dibawah ini:</label>
        <div id="summary_asli" data-ng-bind="table.selectedArticleData.summary" style="background-color:#ffcc33; border: 2px solid #333; border-radius:10px; padding:5px;"></div>
        <textarea name="summary"
          data-ng-model="table.selectedArticleData.summary"
          style="margin: 10px 0px 10px; width:100%; height: 100px;">
        </textarea>
        <div style="margin-top:20px;" class="pull-right">
          <a href="javascript:;" class="btn-d pointer closeFancybox">Batal</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-warning" ng-click="table.doUpdateSummary();">Simpan</button>
        </div>
      </fieldset>
    </form>
  </div> -->


  <!-- <div id="dialog-tone-form" title="Edit Tonalitas" class="dialogPadd warningDialog">
    
    <div>
      Edit Tonalitas berita: <p style="display:inline" ng-show="table.updateValue === '-1'">Negative</p><p style="display:inline" ng-show="table.updateValue === '0'">Neutral</p><p style="display:inline" ng-show="table.updateValue === '1'">Positive</p>
    </div>
    <div style="margin-left: auto;margin-right: auto;">
      <label>
        Negative <input type="radio" style="display: inline-block;" ng-checked="table.selectedArticleData.tone === '-1'" ng-model="table.selectedArticleData.tone" ng-value="'-1'" name="edit-tone">
      </label><br/>
      <label>
        Neutral <input type="radio" style="display: inline-block;" ng-checked="table.selectedArticleData.tone === '0'" ng-model="table.selectedArticleData.tone" ng-value="'0'" name="edit-tone">
      </label><br/>
      <label>
        Positive <input type="radio" style="display: inline-block;" ng-checked="table.selectedArticleData.tone === '1'" ng-model="table.selectedArticleData.tone" ng-value="'1'" name="edit-tone">
      </label>
    </div>

    <div style="margin-top:20px;">
      <a href="javascript:;" class="btn-d pointer closeFancybox">Batal</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="javascript:;" class="btn-d pointer" ng-click="table.doUpdateTonality();">Simpan</a>
    </div>

  </div> -->

</div>

<script type="text/javascript">
  $(function() {
    $(document).on('click', '.closeFancybox', function() {
      $.fancybox.close();
    });
  });

</script>


<script type="text/ng-template" id="editingsModal.html">
  <div class="modal-header">
      <!-- <h3 class="modal-title">I'm a modal!</h3> -->
      <h3 ng-if="items.type === 'tone'" class="modal-title">Edit Tonalitas</h3>
      <h3 ng-if="items.type === 'summary'" class="modal-title">Edit Summary</h3>
  </div>
  <div class="modal-body">

      <!-- edit tonality -->
      <div ng-if="items.type === 'tone'">
        <div>
          Edit Tonalitas berita: &nbsp;<b style="display:inline" ng-show="items.updateValue == -1">Negative</b><b style="display:inline" ng-show="items.updateValue == 0">Neutral</b><b style="display:inline" ng-show="items.updateValue == 1">Positive</b>
        </div>
        <div class="text-center">
          <label>
            Negative <input type="radio" style="display: inline-block;" ng-checked="items.selectedArticleData.tone === '-1'" ng-model="items.selectedArticleData.tone" ng-value="'-1'" name="edit-tone">
          </label><br/>
          <label>
            Neutral <input type="radio" style="display: inline-block;" ng-checked="items.selectedArticleData.tone === '0'" ng-model="items.selectedArticleData.tone" ng-value="'0'" name="edit-tone">
          </label><br/>
          <label>
            Positive <input type="radio" style="display: inline-block;" ng-checked="items.selectedArticleData.tone === '1'" ng-model="items.selectedArticleData.tone" ng-value="'1'" name="edit-tone">
          </label>
        </div>
      </div>

      <!-- edit summary -->
      <div ng-if="items.type === 'summary'">
        <form name="formSaveSummary" id="formSaveSummary">
          <fieldset>
            <label for="summary">Edit Ringkasan dibawah ini:</label>
            <div id="summary_asli" data-ng-bind="items.updateValue" style="background-color:#ffcc33; border: 2px solid #333; border-radius:10px; padding:5px;"></div>
            <textarea name="summary"
              data-ng-model="items.selectedArticleData.summary"
              style="margin: 10px 0px 10px; width:100%; height: 100px;">
            </textarea>
          </fieldset>
        </form>
      </div>

  </div>
  <div class="modal-footer">
      <div ng-if="items.type === 'tone'">
        <button class="btn btn-primary" type="button" ng-click="doUpdateTonality()">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>

      <div ng-if="items.type === 'summary'">
        <button class="btn btn-primary" type="button" ng-click="doUpdateSummary()">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
  </div>
</script>