.tag {
    border: solid 1px #B73013;
    padding: 2px 5px 2px 2px;
    border-radius: 0px 11px 11px 0px;
    -webkit-box-shadow: rgba(192, 190, 190, 1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    background: #e84723;
    color: #ffffff;
    font-size: 0.8em;
}

.tag-selected {
    border: solid 1px #01ba26;
    padding: 2px 5px 2px 2px;
    border-radius: 0px 11px 11px 0px;
    -webkit-box-shadow: rgba(192, 190, 190, 1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    background: #5cf441;
    color: #ffffff;
    font-size: 0.8em;
}

.untag {
  color: #ff0000;
  cursor: pointer;
}


.fading {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.fading.ng-hide {
  opacity:0;
  /* transform: scale(0.8); */
}

.untag {
  color: #ff0000;
  cursor: pointer;
}

.dom-detail {
  display: none;
  overflow: hidden;
  border: solid 1px #444444;
  padding: 20px;
}