<h3>News Clipping
   <small>Download Any Articles</small>
</h3>
<div ng-controller="NewsController as table" class="container-fluid">

<filter-forms model="table.filterOptions" change-filter="table.reloadTables()"></filter-forms>

   <div class="panel panel-default" data-ng-init="table.initData()">
      <div class="panel-heading">
         Search: <input type="text" ng-model="table.searchTable">  
         <span class="pull-right">
            <button ng-click="table.tableParams.sorting({})" class="btn btn-primary btn-sm">Clear sorting</button>
         </span>
      </div>
      
      <br>
      <div id="pnl_btn" style="display: block;" data-ng-show="table.showButtonEmail">
         <input class="btn-danger" id="del-all" ng-click="table.deleteArticles();" ng-if="table.authentication.user.user_detail.stat_edit === 'Y'" value="Hapus" type="button">
         <input class="btn-info" id="text-all" value="Scan Media" ng-click="table.originale(1, 1, 'pdf_scan');" type="button">
         <input class="btn-info" id="pdf-all" value="Teks Asli" ng-click="table.originale(2, 1, 'pdf_text');" type="button">
         <input class="btn-info" id="doc-all" value="Doc" ng-click="table.originale(1, 0, 'doc');" type="button">
         <!-- <input class="btn-warning" id="email-push" ng-click="table.openModal('email-box');" value="Email" type="button"> -->
         <input class="btn-warning" id="email-push" ng-click="table.open({type: 'email'})" value="Email" type="button">
         <div style="clear:both;">&nbsp;</div>
      </div>

      <br><br>

      <!-- <div style="float: right;"> -->
      <div class="pull-right">
        Check All <input type="checkbox" ng-model="table.selectedAll" ng-click="table.checkAll();" />
      </div>
      <br><br>


      <table ng-table="table.tableParams" show-filter="false" class="tablesorter-blue table table-bordered table-striped table-condensed">
         <tr ng-repeat-start="article in $data">

            <td data-title="'✔'" align="center" sortable="'article_id'">
               <input type="checkbox" value="{{article.article_id}}" ng-checked="table.checkSelectionExists(article)" ng-click="table.toggleSelection(article)">
            </td>

            <td data-title="'No'">
               {{((table.tableParams.page() - 1) * table.tableParams.count()) + $index + 1}}
            </td>

            <td data-title="'Tanggal'" sortable="'detail.datee'" show="true">
               {{article.detail.datee.substring(0,10)}}
            </td>

            <td data-title="'Judul'" sortable="'detail.title'">

               <a href="#" ng-click="table.checkExpanded(article)" class="ts-link fancybox">
                  {{ article.detail.title }}
               </a>

               <img ng-show="article.detail.activity.indexOf('print') !== -1" src="/asset/images/print-icon.png" title="Artikel sudah dicetak" alt="Artikel sudah dicetak">
               <img ng-show="article.detail.activity.indexOf('doc') !== -1" src="/asset/images/docx-win-icon.png" title="Dokumen artikel sudah diunduh" alt="Dokumen artikel sudah diunduh">
               <img ng-show="article.detail.activity.indexOf('pdf_scan') !== -1" src="/asset/images/pdf-icon.png" title="Scan PDF artikel sudah diunduh" alt="Scan PDF artikel sudah diunduh">
               <img ng-show="article.detail.activity.indexOf('pdf_text') !== -1" src="/asset/images/accdb-icon.png" title="Teks PDF artikel sudah diunduh" alt="Teks PDF artikel sudah diunduh">

            </td>

            <td data-title="'Media'">
               {{article.detail.media_name}}
            </td>

            <td data-title="'Hal'">
               <a href="{{article.detail.file_pdf}}" ng-if="article.detail.file_pdf.indexOf('http') > -1" target="_blank">
                  Link
               </a>

               <p ng-if="article.detail.file_pdf.indexOf('http') == -1">
                  {{article.detail.page}}
               </p>
            </td>

            <!-- <td ng-if="table.authentication.user.user_detail.stat_edit === 'Y'" data-title="'Hapus'">
               <a href="#" ng-click="table.deleteArticle(article);" class="icon-trash fancybox"></a>
            </td> -->

         </tr>

         <tr ng-if="article.expanded" ng-repeat-end="" >
            <td colspan="9" >
            
               <br><br>
               <div id="printable_{{article.article_id}}">
                 <div>
                   <img src="http://admin.antara-insight.id/asset/images/{{table.authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
                   <table>
                     <tbody><tr>
                       <td>
                         <b>Title<b>
                       </b></b></td>
                       <td>
                         &nbsp;&nbsp;:&nbsp;&nbsp;
                       </td>
                       <td>{{article.detail.title}}<br/></td>
                     </tr>
                     <tr>
                       <td><b>Date</b></td>
                       <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                       <td>{{article.detail.datee.substring(0,10)}}<br/></td>
                     </tr>
                     <tr>
                       <td><b>Media</b></td>
                       <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                       <td>{{article.detail.media_name}}<br/></td>
                     </tr>
                     <tr>
                       <td><b>NewsValue</b></td>
                       <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                       <td>{{article.values.newsvalue_bw}}<br/></td>
                     </tr>
                     <tr>
                       <td><b>AdValue</b></td>
                       <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                       <td>{{article.values.advalue_bw}}<br/></td>
                     </tr>
                     <tr><td colspan="3"><br/></td></tr>
                     <tr>
                       <td><b>Content</b></td>
                       <td>&nbsp;&nbsp;:</td>
                       <td></td>
                     </tr>
                   </tbody></table>
                 </div>

                 <br>
                   <div>
                    <br>
                    <div ng-bind-html="table.trustAsHtml(article.detail.mediaHTML);"></div>
                    <br><br>
                     <p ng-bind-html="table.trustAsHtml(table.highlightKeyword(article))"></p>
                   </div>
                 <br>

                 <br>
                 <b><i>Kategori</i></b>:
                 <span ng-repeat="ci in article.categories">
                   <span class="tag-selected">
                     <b>{{ci}}</b>
                     <!-- &nbsp;&nbsp;
                     <a title='Hapus artikel dari kategori ini.' class='untag' ng-click="table.deleteArticle({_id: [article._id[$index]], article_id: article.article_id, categories: [ci]});">
                       <span class='icon-trash'></span>
                     </a> -->
                   </span>

                   <span ng-if="!$last">,&nbsp;</span>
                 </span>

               </div>

               <br>

               <b>
                 <div id="non-printable">

                  <br><br>
                  <input class="btn-info" value="Print" type="button" ng-click="table.saveActivity(article, 'print');" ng-print print-element-id="printable_{{article.article_id}}">&nbsp;&nbsp;
                  <input class="btn-info" value="Teks pdf" ng-click="table.getPDF('teks_pdf', article);" type="button">&nbsp;&nbsp;
                  <input class="btn-info" value="Doc" ng-click="table.originaleSingle(1, 0, article, 'doc');" type="button">&nbsp;&nbsp;
                  <input ng-show="article.detail.file_pdf.indexOf('.pdf') !== -1" class="btn-info" value="Teks Asli" ng-click="table.originaleSingle(2, 1, article, 'pdf_text');" type="button">&nbsp;&nbsp;
                  <input ng-show="article.detail.file_pdf.indexOf('.pdf') !== -1" class="btn-info" value="Scan Media" ng-click="table.originaleSingle(1, 1, article, 'pdf_scan');" type="button">&nbsp;&nbsp; 
                  <br><br>

                 </div>
               </b>

               <br>
               <hr>
               <br>

            </td> 
        </tr>

      </table>


   </div>


   <!-- modals -->
   <div class="dom-detail" id="email-box">
      <div id="dom-selection" class="customscroll dd-content">
        <div class="dd-title">Input your email</div>
        <p class="validateTips">Jika email yang akan dikirim lebih dari 1 maka gunakan koma (,) sebagai pemisah email. Cth: abc@mail.com,def@mail.com
          </p>
        <br>
        <br>
        <textarea ng-model="table.destinationEmail"></textarea>
        <br>
        <input type="button" class="btn-info" value="Send" ng-click="table.emailAll();">
      </div>
    </div>

</div>

<script type="text/javascript">
  $(function() {
    $(document).on('click', '.closeFancybox', function() {
      $.fancybox.close();
    });
  });

</script>

<script type="text/ng-template" id="newsModal.html">
  <div class="modal-header">
      <!-- <h3 class="modal-title">I'm a modal!</h3> -->
      <h3 ng-if="items.type === 'email'" class="modal-title">Push Email</h3>
      <h3 ng-if="items.type === 'summary'" class="modal-title">Edit Summary</h3>
  </div>
  <div class="modal-body">

      <!-- edit tonality -->
      <div ng-if="items.type === 'email'">
        <div class="dd-title"><b>Input your email</b></div>
        <p class="validateTips">Jika email yang akan dikirim lebih dari 1 maka gunakan koma (,) sebagai pemisah email. Cth: abc@mail.com,def@mail.com
          </p>
        <br>
        <br>
        <textarea ng-model="items.email"></textarea>
        <br>
        <!-- <input type="button" class="btn-info" value="Send" ng-click="emailAll();"> -->
      </div>

      <!-- edit summary -->
      <!-- <div ng-if="items.type === 'summary'">
        <form name="formSaveSummary" id="formSaveSummary">
          <fieldset>
            <label for="summary">Edit Ringkasan dibawah ini:</label>
            <div id="summary_asli" data-ng-bind="items.updateValue" style="background-color:#ffcc33; border: 2px solid #333; border-radius:10px; padding:5px;"></div>
            <textarea name="summary"
              data-ng-model="items.selectedArticleData.summary"
              style="margin: 10px 0px 10px; width:100%; height: 100px;">
            </textarea>
          </fieldset>
        </form>
      </div> -->

  </div>
  <div class="modal-footer">
      <div ng-if="items.type === 'email'">
        <button class="btn btn-primary" type="button" ng-click="emailAll();">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>

      <!-- <div ng-if="items.type === 'summary'">
        <button class="btn btn-primary" type="button" ng-click="doUpdateSummary()">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div> -->
  </div>
</script>