<h3>Search
   <small>Search for any articles</small>
</h3>
<div ng-controller="SearchController as table" class="container-fluid">

<filter-forms model="table.filterOptions" change-filter="table.reloadTables()"></filter-forms>

   <div class="panel panel-default">
      <div class="panel-heading">
         <!-- Search: <input type="text" ng-model="table.searchTable">  
         <span class="pull-right">
            <button ng-click="table.tableParams.sorting({})" class="btn btn-primary btn-sm">Clear sorting</button>
         </span> -->
        <!-- <div class="form-group">
          <label for="search">Search:</label>
          <input type="text" class="form-control" id="search">
        </div> -->

        <!-- <form role="search">
          <div class="input-group add-on">

            <select class="input-group-btn" ng-options="item as item for item in table.showType" ng-model="table.selectedType"></select>
            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="icon-magnifier"></i></button>
            </div>

          </div>
        </form> -->

        <!-- <form role="search"> -->
          <!-- <div class="input-group">

            <div class="input-group-btn">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="icon-magnifier"></i></button>
            </div>

          </div> -->
        <!-- </form> -->

        <form role="search" ng-submit="table.doSearch();">
          <div class="input-group">
            <div class="input-group-btn">

              <span class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">{{table.selectedType}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li ng-repeat="st in table.showType" role="presentation" ng-click="table.selectedType = table.showType[$index]"><a role="menuitem" tabindex="-1" href="#">{{st}}</a></li>
                </ul>
              </span>

            </div>
            
            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text" ng-model="table.keyword">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="icon-magnifier"></i></button>
            </div>

          </div>
        </form>


      </div>
      
      <!-- <br>
      <div id="pnl_btn" style="display: block;" data-ng-show="table.showButtonEmail">
         <input class="btn-danger" id="del-all" ng-click="table.deleteArticles();" ng-if="table.authentication.user.user_detail.stat_edit === 'Y'" value="Hapus" type="button">
         <input class="btn-info" id="text-all" value="Scan Media" ng-click="table.originale(1, 1, 'pdf_scan');" type="button">
         <input class="btn-info" id="pdf-all" value="Teks Asli" ng-click="table.originale(2, 1, 'pdf_text');" type="button">
         <input class="btn-info" id="doc-all" value="Doc" ng-click="table.originale(1, 0, 'doc');" type="button">
         <input class="btn-warning" id="email-push" ng-click="table.openModal('email-box');" value="Email" type="button">
         <div style="clear:both;">&nbsp;</div>
      </div> -->

      <br><br>

      <!-- <div style="float: right;"> -->
      <!-- <div class="pull-right">
        Check All <input type="checkbox" ng-model="table.selectedAll" ng-click="table.checkAll();" />
      </div> -->
      <br><br>


      <table ng-table="table.tableParams" show-filter="false" class="tablesorter-blue table table-bordered table-striped table-condensed">
         <tr ng-repeat-start="article in $data">

            <td data-title="'No'">
               {{((table.tableParams.page() - 1) * table.tableParams.count()) + $index + 1}}
            </td>

            <td data-title="'Tanggal'" sortable="'detail.datee'" show="true">
               {{article.datee.substring(0,10)}}
            </td>

            <td data-title="'Judul'" sortable="'detail.title'">

               <a href="#" ng-click="table.checkExpanded(article)" class="ts-link fancybox">
                  {{ article.title }}
               </a>

            </td>

            <td data-title="'Media'">
               {{article.media_name}}
            </td>

            <td data-title="'Hal'">
               <a href="{{article.file_pdf}}" ng-if="article.file_pdf.indexOf('http') > -1" target="_blank">
                  Link
               </a>

               <p ng-if="article.file_pdf.indexOf('http') == -1">
                  {{article.page}}
               </p>
            </td>

         </tr>

         <tr ng-if="article.expanded" ng-repeat-end="" >
            <td colspan="9" >
            
               <br><br>
               <div id="printable">
                 <div>
                   <img src="http://admin.antara-insight.id/asset/images/{{table.authentication.user.user_detail.logo_head}}" style="height:70px; float:right;">
                   <table>
                     <tbody><tr>
                       <td>
                         <b>Title<b>
                       </b></b></td>
                       <td>
                         &nbsp;&nbsp;:&nbsp;&nbsp;
                       </td>
                       <td>{{article.title}}<br/></td>
                     </tr>
                     <tr>
                       <td><b>Date</b></td>
                       <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                       <td>{{article.datee.substring(0,10)}}<br/></td>
                     </tr>
                     <tr>
                       <td><b>Media</b></td>
                       <td>&nbsp;&nbsp;:&nbsp;&nbsp;</td>
                       <td>{{article.media_name}}<br/></td>
                     </tr>
                     <tr><td colspan="3"><br/></td></tr>
                     <tr>
                       <td><b>Content</b></td>
                       <td>&nbsp;&nbsp;:</td>
                       <td></td>
                     </tr>
                   </tbody></table>
                 </div>
                 <br>
                   <div>
                     <p ng-bind-html="table.trustAsHtml(table.highlightKeyword(article))"></p>
                     <br><br>
                     <div ng-bind-html="table.trustAsHtml(table.checkMedia(article))"></div>
                     <br><br>
                   </div>
                 <br>

                 <br>
                 <b><i>Kategori</i></b>:
                 <span ng-repeat="ci in article.categories">
                   <span class="tag-selected">
                     <b>{{ci}}</b>
                     &nbsp;&nbsp;
                     <a title='Hapus artikel dari kategori ini.' class='untag' ng-click="table.deleteArticle({_id: [article._id[$index]], article_id: article.article_id, categories: [ci]});">
                       <span class='icon-trash'></span>
                     </a>
                   </span>

                   <span ng-if="!$last">,&nbsp;</span>
                 </span>

               </div>

               <br>

               <b>
                 <div id="non-printable">

                  <br><br>
                  <a href="javascript:;" ng-print print-element-id="printable">PRINT</a> |
                  <!-- <a href="javascript:;" ng-click="table.getPDF('teks_pdf', article.article_id);">TEKS PDF</a> |
                  <span ng-show="article.file_pdf.indexOf('.pdf') !== -1">
                    <a href="javascript:;" ng-click="table.getScan('pdf_images', article.file_pdf);">TEKS ASLI</a> |
                  </span>
                  <span ng-show="article.detail.file_pdf.indexOf('.pdf') !== -1">
                    <a href="javascript:;" ng-click="article.getScan('pdf_text', article.file_pdf);">SCAN MEDIA</a> |
                  </span> -->
                  <a href="javascript:;" ng-click="table.originaleSingle(1, 0, article, 'doc');">DOC</a>
                  <br><br>

                 </div>
               </b>

               <br>
               <hr>
               <br>

            </td> 
        </tr>

      </table>


   </div>

   <div class="dom-detail" id="save-article">
      <div id="dom-selection" class="customscroll dd-content">
        <div class="dd-title">Choose Category</div>
          <div class="clear"></div>
          <div class="space-1"></div>
          <div class="category">
            <div class="acc-title">Sub-Category</div>
          </div>
          <div class="categorycontent">
            <div id="ms1" class="customscroll" style="height:300px;">
              <!-- <ul class="acc-link">
                <li ng-repeat="item in table.categoryLists">
                  <a href="javascript:;">
                    <input style="float:left;margin-right:15px;display: block;" class="clisetdach" type="checkbox" ng-model="item.selected" ng-change="table.addCategory(item.category_id);" value="item.category_id">
                    <label>{{item.category_id}}</label>
                  </a>
                </li>
              </ul> -->
            </div>
          </div>
        <!-- </div> -->
        <input type="button" class="btn-info" value="Save" ng-click="table.doSaveArticle();">
      </div>
    </div>

</div>

<script type="text/javascript">
  $(function() {
    $(document).on('click', '.closeFancybox', function() {
      $.fancybox.close();
    });
  });

</script>