/* CUSTOM CSS*/
.box-dashboard{
  margin:0 0 0 15px;
  bottom:0px;
  min-height:128px;
  line-height:128px;
}

.box-dashboard-clock{
  margin:0 0 0 15px;
  bottom:0px;
  min-height: 50px;
}

.logo-client{
  position: absolute;
  left: 10%;
  bottom: 25px;